  <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fireside</title>
        <script src="https://code.jquery.com/jquery-2.1.3.js"></script>        
        <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css"> 
        <link href="/bower_components/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"> 
        <link href="/dist/style.css" rel="stylesheet" type="text/css">
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/handlebars/handlebars.js"></script>
        <script src="/bower_components/underscore/underscore.js"></script>
        <script src="/bower_components/backbone/backbone.js"></script>
        <script src="/bower_components/marionette/lib/backbone.marionette.js"></script>
        <script src="/bower_components/backbone.localstorage/backbone.localStorage.js"></script>
        <script src="/audio/recorder.js"></script>
        
        <script src="/dist/templates.js"></script>
        <script src="/dist/bundle.js"></script>
    </head>

    <body data-room-id="{{roomID}}">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Fireside</a>
          </div>
        </div>
      </nav>
      
        <div class="container">
          <div class="row ">
            <div id="usersPanel" class="col-md-4 pull-right"> </div>
            <div id="callPanel" class="col-md-8 controlsPanel"></div>
          </div>
          <div id="logPanel" class="row"> </div>
        </div>
      
      <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="nameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="nameModalLabel">What's your name?</h4>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control" placeholder="Anonymous">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary save">Connect</button>
            </div>
    </body>
</html>