@import "./bootstrap.scss";

html, body {
	height: 100%;
	min-height: 300px;
}

body {
	padding-top: 50px;
    padding-bottom: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

$marginmin: 15px;

.container, .jumbotron .container  {
	height: 100%;	
	max-width: 900px;

	> .row{
		margin-left: 0;
		margin-right: 0;
		&:first-child {
			margin-top: 50px;
		}
	}
}

.usersList{
	text-align: right;
	li.self {
		font-weight: bold;
	}
}

.panel-el {
	margin: $marginmin;	
	margin-right: 0;	
}

.controlsPanel {
	.recorder {
		margin-top: 0;
		.fa {
			color: #CF1010;
			margin-right: 7px;
		}		
	}
}

#logPanel {
	height: 60%;	
	> div {
		height: 100%;
		> div {
			height: 100%;
		}
	}		
	.scroller {
		min-height: 100px;
		max-height: 700px;
		max-height: 60%;
		overflow-y: auto;		

		li {
			display: block;
			padding: 1px;			
			time {
				display: inline-block;
				width: 8ex;
			}
			div.content { display: inline; }
		}

		li:nth-child(2n) {
			background: #d8d8d8;
		}
	}
	textarea {		
		height: 60px;				
		max-width: calc(100% - 15px);
	}
	
}


.video{
	height: 0;
	width: 0;
}
