<div class="row">
    <button disabled="disabled" class="btn btn-lg btn-default start recorder">
        <span class="fa fa-circle"></span>
        <span class="text">Start recording</span>
        <strong><time></time></strong>
    </button>
</div>
<div class="row">
    <div class="col-md-4"  style="text-align: center; padding-top: 40px;">
        {{#if recordings}}
        <button class="btn btn-primary btn-lg start recorder"><i class="fa fa-lg fa-upload" aria-hidden="true"></i> <span class="text">Request Files</span> <strong><time></time></strong></button>
        {{/if}}
    </div>
</div>    
