<div class="logs">
	<strong class="panel-header">Events/Messages</strong>
	<div id="logsList" class="panel-el scroller"></div>    
    <textarea class="form-control panel-el" id="msgInput" placeholder="Send a message!"></textarea>
</div>